.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }

body {
    margin: 0;
    padding: 0;
    }
    
    h2,
    h3 {
    margin: 10px;
    font-size: 1.2em;
    }
    
    h3 {
    font-size: 1em;
    }
    
    p {
    font-size: 0.85em;
    margin: 10px;
    text-align: left;
    }
    
    /**
    * Create a position for the map
    * on the page */
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: -2;
    }
    #map2 {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: -3;
    }
    .mapLeft {
        left: 0;
    }
    .mapRight {
        right: 0;
    }
    

.map-overlay {
    position: absolute;
    /* height: 500px !important; */
    width: 20%;
    height: 75%;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 2%;
    margin-top: 2%;

    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.map-overlay-comparative {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 40%;
    margin-bottom: 2%;
    margin-left: 2%;
    background: rgba(255, 255, 255, 0.8);
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.map-overlay-comparative2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 40%;
    margin-bottom: 2%;
    margin-right: 2%;
    background: rgba(255, 255, 255, 0.8);
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.chartMap{
    margin: auto;
    width: 95%;
}

.map-overlay-chart {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 40%;
    max-height: 40%;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.map-overlay-chart-comparative {
    width: 40%;
    position: absolute;
    left: 50%;
    margin-left: -20% !important;
    bottom: 0;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    max-height: 40%;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#legend{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    margin-right: 5%;
    border-radius: 19px;
    width: 200px !important;
    height: 50px !important;
}
#legend span{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(90deg, rgba(17,6,201,1) 0%, rgba(255,255,255,1) 50%, rgba(228,9,9,1) 100%);
    margin-right: 5%;
    width: 200px !important;
    height: 20px !important;
}
.legend-comparative{
    top: 40%;
    left: 50%;
    margin-left: -100px;
}

.map-overlay-select {
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.button{
    position: absolute;
    z-index: 1;
    left: 0;
    width: 30px;
    margin-left: 5%;
    margin-top: 1%;
}

.back{
    position: absolute;
    z-index: 1;
    left: 0;
    width: 30px;
    margin-left: 5%;
    margin-top: 1%;
}

.arrow{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 20px;
    margin-right: 5%;
    margin-top: 5%;
}
      
/* #features {
    top: 0;
    margin-top: 20px;
} */

#features-selection {
    top: 0;
    height: 50%;
    margin-top: 20px;
    margin-left: 20px;
    /* width: 15%; */
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 150px;
    margin-bottom: 40px;
    width: 100px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

/* Cambios sobre la propia tabla */
.table {
width: 80%;
margin: auto;
}
/* Espacio de relleno en celdas y cabeceras */
/* .table td,th{
padding:5px;
} */
/* Modificación de estilos en celdas */
table td{
text-align:center;
border:2px solid #B3B6B7;
font-size:12px;
}